.schedule {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.schedule-item {
  background-color: #9dd465aa;
  margin-right: 50px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;

  &:not(:last-child)::after {
    content: "---->";
    color: #9dd465aa;
    display: block;
    width: fit-content;
    white-space: nowrap;
    position: absolute;
    left: 102%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.schedule-title {
  display: flex;

  .schedule-name {
    flex: 1;
  }
}

.schedule-period {
  margin-top: 10px;
}

.schedule-change {
  padding-top: 30px;
  text-align: center;
  position: relative;

  .button-close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
  }

  .title {
    margin-bottom: 30px;
  }
}